body {
  /* background by SVGBackgrounds.com */
  background-color: #100333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23444444' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23414141'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

h1,
h2,
h3 {
  color: white;
}

#escenario {
  position: relative;
  color: white;
}

#camara {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#velocityCamera {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  padding: 5px;
}

.camera {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "up up up"
    "left  zoomin right"
    "left  zoomout right"
    "down down down";
  max-width: 100px;
  gap: 4px;
}

th,
td {
  padding: 5px;
}
.camera > button {
  background-color: black;
  border: none;
  color: white;
  border-radius: 6px;
}

.camera > button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 0.5s background-color;
}

.camera > button:nth-child(1) {
  grid-area: up;
}

.camera > button:nth-child(2) {
  grid-area: down;
}

.camera > button:nth-child(3) {
  grid-area: left;
}

.camera > button:nth-child(4) {
  grid-area: right;
}

.camera > button:nth-child(5) {
  grid-area: zoomin;
}

.camera > button:nth-child(6) {
  grid-area: zoomout;
}

canvas {
  border: 1px solid white;
  width: 100%;
}

#loading {
  display: none;
  border: 8px solid blue;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border-top: 8px solid white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: carga 2s infinite linear;
}

th,
tr {
  background-color: white;
  paddi: 10px;
}

@keyframes carga {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center;
  color: white;
  margin: 5px;
}

#meteoritos {
  display: flex;
  flex-wrap: wrap;
}

#fotoDiaria {
  background-color: white;
  color: black;
  text-align: center;
  max-width: 800px;
}

#title,
#description {
  padding: 10px;
}

#image {
  width: 100%;
}

.asteroidinfo {
  padding: 1px;
}

.asteroidinfo > select {
  background-color: black;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 6px;
}
.terrainput {
  padding: 5px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

